html,body,h1,h2,h3,h4,p{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    display:flex;
    flex-flow: row nowrap;
}

.img-left{
    width:30%;
    position: relative;
    display:flex;
    justify-content: center;
}
img{
    max-width: 100%;
}
figcaption{
    position: absolute;
    color:white;
    bottom:1%;
}

.main{
    width:70%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: rgb(245, 244, 244);
}

.message{
    width:80%;
    padding-left: 2rem;
}

form , .form-inputs{
    display: flex;
    flex-flow: column nowrap;
}

.form-inputs{
    background-color: white;
    margin:1rem 0;
    padding:1rem 2rem;
}

.form-greeting{
    padding-bottom:1rem;
}

.input-groups{
    display:flex;
}

.form-input{
    display:flex;
    flex-flow: column nowrap;
    width:25%;
    padding:.5rem 0;
}

.form-input input{

}

.form-button{
    padding-left:2rem;
}

.form-button button{
    padding:.5rem 2rem;
    background-color: rgb(92, 119, 37);
    border: none;
    border-radius: 5px;
    color:white;
}
